# Ignore target directory
/target/

# Ignore test output directory
/test-output/

# Ignore logs directory
/logs/

# Ignore specific application files
/src/main/resources/ApplicationFile/

# Ignore reports and screenshots directories
/allure-results/
.settings
.idea
/bin/

